.header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;

}
.header h1{
    padding-left: 20px;
    color: white;
}
.header a{
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
    padding-left: 6vw;
    padding-right: 20px;
}